/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

figure {
	margin:0px;
}

figure img {
	width:100%;
}
.paraintheend{
    display: none;
}
.first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mainhomepicture.png");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .second{
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px #212121;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.firstheader{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size:10px; 
    font-optical-sizing: auto;
    
    font-style: normal;
    color:white;
    background-color: #4A70A9;
    padding:5px;
    h1{margin: 3px;}
   
    
}
.secondheaderslay{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size:10px;
    color:white;
    background-color: #4A70A9;
    padding:5px;
    h1{margin: 3px;}
   
}
.secondbody{
    background-color: #EFECE3;
}
body{
    background-color:#EFECE3;
}

nav section {
	border:transparent;
}
.pageone{
    border:transparent;
}
.oneone{
    text-align: center;
}
.one1{
    text-align: center;
}
div.containertesting {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}
section{
    background-color: #EFECE3;
    padding: 5%;

}
.editcontact{
    border: 5px  solid #4A70A9;
}
.contactheader{
    font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
}
.slay{
    background-color: #EFECE3;
    padding: 10%;
}
.links{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.secondfooter{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size:15px;
    color:white;
    background-color: #4A70A9;
    padding:15px;
}
.firstpheader{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.edit1{
    border: 5px  solid #1D546C;
    border-radius: 10px;
}
.secondheader{
    font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
    
}
.firstp{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.alllinks{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.linkforsecond{
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
   
}
.edit2{
    border: 5px  solid #1D546C;
     border-radius: 10px;
}
.thirdheader{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
}
.secondp{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.edit3{
    border: 5px  solid #1D546C;
     border-radius: 10px;
}
.fourthheader{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
}
.thirdp{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.edit4{
    border: 5px  solid #1D546C;
     border-radius: 10px;
}
.fifthheader{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
}
.fourthp{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
footer{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size:15px;
    color:white;
    background-color: #0C2B4E;
    padding:15px;
}
.eatingitup{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size:15px;
    color:white;
    background-color: #0C2B4E;
    padding:35px;
    bottom: 0%;
}
.personlogos{
    top:6px;
    right: 5%;
    position: absolute;
}

/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}

.contactmelaptop{
    display:none;
}


@media all and (min-width: 500px) {
    .slay{
       padding-top: 45px;
       padding-left: 25%;
       padding-right: 25%;
    }
    
.personlogos{
    top:6px;
    right: 5%;
    position: absolute;
    height: 30px;
    width: 30px;
}
	
	.indexnav{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        column-gap:15px;
    }
	.pageone{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        column-gap:15px;
    }
   
        .oneone{
            text-align: center;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
        }
        .one1{
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            text-align: center;
        }
      
    
	.firstheader{
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size:10px; 
        font-optical-sizing: auto;
        
        font-style: normal;
        color:white;
        background-color: #0C2B4E;
        padding:10px;
        h1{margin: 3px;}
       
        
    }
    .linkforsecond{
        font-size: 20px;
    }
} 



/* Minimum width for landscape laptops. */
@media all and (min-width: 800px) {
    .linkforsecond{
        font-size: 28px;
    }
	.first {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mainhomepicture.png");
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
	
	
} 



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 990px) {
    .contactmelaptop{
        display:block;
        top:0px;
        right: 5%;
        position: absolute;
        .editlaptoplink{
            text-decoration: none;
            color: white;
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
            font-size: 25px;
        }
    }
    .personlogos{

        display:none;
    }
	.indexnav{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        column-gap:15px;
    }
	.noshowonlaptop{
        display: none;
    }
    .paraintheend{
        display:block;
    }
	
	.paraintheend{
     p{
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size:25px; 
        font-optical-sizing: auto;
        text-align: center;
        font-style: normal;
        color:black; 

      }
      h1{
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size:35px; 
        font-optical-sizing: auto;
        text-align: center;
        font-style: normal;
      }
    }
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */



